---
import { RichText } from '../../lib/interfaces.ts'

export interface Props {
  richTexts: RichText[]
}

const { richTexts } = Astro.props
---

{
  richTexts.length > 0 && richTexts[0].Text.Content && (
    <div class="mt-3 text-sm text-outline">{richTexts[0].Text.Content}</div>
  )
}