---

---
<!--html 404ページ -->

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>404 - So Tokumaru</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css" rel="stylesheet" />
    <html lang="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="uh,something went wrong. error 404." />
    <meta property="og:description" content="uh,something went wrong. error 404." />
    <meta name="twitter:description" content="uh,something went wrong. error 404." />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon-precomposed" href="/soumame.png" />

    <meta property="og:url" content="https://so-bean.work" />
    <meta property="og:title" content="404 - So Tokumaru" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/ogp.png" />
    <meta property="og:site_name" content="404 - So Tokumaru" />
    <meta property="og:locale" content="ja_JP"  />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="/ogp.png" />
</head>
<div class="flex items-center justify-center">
    <div class=" rounded-xl p-4 border-black m-2">
    <h1 class="font-bold text-3xl">404 Not found</h1>
    <p class="mt-2">何かがうまくいかなかったみたい。まあ、そんな時もあるよね。ごめんね。</p>
    <p class="mt-2">Ahh..something went wrong. Well, we all have times like that...Sorry!</p>
    </div>
    <img class="w-36 h-36" src = "/broken.svg" alt="soumame_question"/>
</div>
<div class="flex items-center justify-center">
    <a href="/" class="font-bold p-4 rounded-xl border border-b-4 border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r">トップページに戻る</a>
</div>
</html>