---
import { fade } from "astro:transitions";
import { Block } from '../lib/interfaces.ts'
import NotionBlocks from './NotionBlocks.astro'

export interface Props {
  blocks: Block[]
}

const { blocks } = Astro.props
---

<div class="post-body" transition:animate={fade({ duration: '0.5s' })}>
  <NotionBlocks blocks={blocks} isRoot={true} />
</div>

<style>
  .post-body {
    padding: 0.5rem 0;
  }
</style>
